<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>五一放假通知</title>
</head>
<body>
<div align="center">
	<h2>关于“五一”劳动节放假及调课的通知</h2>
	</div>
	<div style="margin-left:500px;width:1000px;higth:1000px">
	<h3>全校各单位：</h3><br>
	<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据《国务院办公厅关于调整2019年劳动节假期安排的通知》精神，结合学校实际，现将2019年“五一”劳动节放假及调课安排通知如下：</h3><br>
	<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、放假安排</h3><br>
	<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5月1日（星期三）至5月4日（星期六）放假调休，共4天。4月28日（星期日）、5月5日（星期日）上班。</h3><br>
	<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二、调课事项</h3><br>
	<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5月2日（周四）的课调至4月28日（周日）；5月3日（周五）的课调至5月5日（周日）。</h3><br>
	<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三、放假期间值班及相关工作另行通知。</h3><br>
</div>
</body>
</html>