<!-- Horizontal Form -->
 <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">添加用户</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
        
          <div class="form-group">
            <label for="usernameId" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
              <input class="form-control"  id="usernameId" style ="width: 150px" type="text">
            </div>
          </div>
          
          
          <div class="form-group" >
            <label class="col-sm-2 control-label" for="genderId">性别</label>
            <div class="col-sm-10">
              <input checked="checked"  name="genderId" type="radio" value="男"><label>男</label>
              <input name="genderId"  type="radio" value="女"><label>女</label>
              <input name="genderId"  type="radio" value="同性恋"><label>同性恋</label>
            </div>
          </div>
          
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="classNameId">班级</label>
            <div class="col-sm-10">
              <input class="form-control" id="classNameId"  style="width: 150px" type="text">
            </div>
          </div>
          
          <div class="form-group">
            <label for="emailId" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input class="form-control" id="emailId"  style="width: 300px" type="text">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="mobileId">手机号</label>
            <div class="col-sm-10">
              <input class="form-control" id="mobileId"  style="width: 300px" type="text">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="scoreId">综合分数</label>
              <div class="col-sm-10">
              <input class="form-control" id="scoreId"  style="width: 150px" type="text">
            </div>
          </div>
          
          
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button class="btn btn-default btn-cancel" type="button">取消</button>
          <button class="btn btn-info pull-right btn-save" type="button">保存</button>
        </div>
        <!-- /.box-footer -->
      </form>
      
    </div>
    
<script src="bower_components/jquery/dist/jquery.min.js"></script>  
<script type="text/javascript">

//添加保存事件
$(function(){
	$(".box-footer")
	 .on("click",".btn-cancel",doCancel)
	 .on("click",".btn-save",doSave)
})

//将表单数据发送到服务端
function doSave(){
	//1.获取表单中用户输入数据
	 //debugger;
	 var params= doGetEditFormData();//获取数据方法
	 //var data = JSON.stringify(params); 
	 //console.log(data); 
	 //2.异步提交数据到服务端 
	 var url="user/doInsertUser.do";
	 
	 $.post(url,params,function(result){
	
			 alert(result.message);
	 })
	
}
  
//获取数据方法
 function doGetEditFormData(){
	  var params= {
		 username:$("#usernameId").val(),	  
	     gender:$("input[name='genderId']:checked").val(),
	     className:$("#classNameId").val(),
	     email:$("#emailId").val(),
	     mobile:$("#mobileId").val(),
	     score:$("#scoreId").val()
	  }
	     console.log(params);
	  return params;
	  
  } 

  /*
  function doSave(){
	  var params={
			  username:$("#usernameId").val(),	  
			     gender:$("input[name='genderId']:checked").val(),
			     className:$("#classNameId").val(),
			     email:$("#emailId").val(),
			     mobile:$("#mobileId").val(),
			     score:$("#scoreId").val()
	  };
	  var rowData=$("#mainContentId").data("rowData");
		 if(rowData)params.id=rowData.id;
	  
	  
	  $.ajax({
          url:'user/doInsertUser.do',
          data:params,
          type:'post',
          dataType:'text',
          success:function(msg){
              if(msg=='1'){
                  console.log('添加成功');
              }else{
                  console.log('添加失败')
              }
          }
           
      })
  }
  
  
*/

/*

function doSave(){

$.ajax({
    url:"user/doInsertUser.do",
    async:false,
    type:"post",
    data:{userName:$("#usernameId").val(),
    	  gender:$("input[name='genderId']:checked").val(),
		     className:$("#classNameId").val(),
		     email:$("#emailId").val(),
		     mobile:$("#mobileId").val(),
		     score:$("#scoreId").val()
    	},
    dataType:"json",
    success:function(data){
        flag = data.checkResult;
        if(flag==true){
           location.href="/user/homepage";
        }else{
            location.href="/user/toLogin"
        }
    }
});

}

*/





function doCancel(){
	 
	var url="user/doUserControllerUI.do";
	$("firstPage.html,#mainContentId").load(url);  
}

</script>
    
    
    
    
    
    
    